<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navbar.css"> <!-- Add this line for navbar styles -->


    <title>Download File</title>
    <style>

    </style>

</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/512/1037/1037325.png"  alt="Logo">
        </div>
        <div class="navbar-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="#">Contact</a>
        </div>
        
    </nav>
    
    <% if (locals.error) { %>
        <div class="message">
            <div class="incorrect-password">
                <h1><center>Incorrect password</center></h1>
                
            </div>
        </div>
    <% } %>

    <form method="post">
         
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required />

        <button type="submit">Download</button>
    </form>


</body>

</html>